<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QH_Firmware.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <QH_Firmware.Properties.Settings>
            <setting name="textBox1Value" serializeAs="String">
                <value>QH4011</value>
            </setting>
            <setting name="comboBox3Index" serializeAs="String">
                <value>1</value>
            </setting>
        </QH_Firmware.Properties.Settings>
    </userSettings>
</configuration>